.nav-bar__link {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;

  &--active {
    background: #112a26;
    color: white;
  }
}

.nav-bar__link:hover {
  background: #217c61;
}
